[
  {
    "id": "1",
    "group_id": "tmp",
    "build_flags": [],
    "runtime_flags": [
      "--single-process"
    ],
    "patch": null
  },
  {
    "id": "2",
    "group_id": "tmp",
    "build_flags": [],
    "runtime_flags": [
      "--single-process",
      "--renderer-process-limit=1"
    ],
    "patch": null
  },
  {
    "id": "3",
    "group_id": "tmp",
    "build_flags": [],
    "runtime_flags": [
      "--single-process",
      "--disable-features=SitePerProcess"
    ],
    "patch": null
  },
  {
    "id": "4",
    "group_id": "tmp",
    "build_flags": [],
    "runtime_flags": [
      "--single-process",
      "--disable-threaded-scrolling",
      "--disable-threaded-compositing"
    ],
    "patch": null
  },
  {
    "id": "5",
    "group_id": "tmp",
    "build_flags": [],
    "runtime_flags": [
      "--single-process",
      "--v8-flags=\"--stress-compaction\""
    ],
    "patch": null
  },
  {
    "id": "6",
    "group_id": "tmp",
    "build_flags": [
      "use_partition_alloc_as_malloc=true",
      "enable_backup_ref_ptr_support=false"
    ],
    "runtime_flags": [
      "--single-process"
    ],
    "patch": null
  }
]